<div>
    <div>
        <form>
            <div>
                <label>Product Name</label><br>
                <input type="text" id="ptitle">
            </div>
            <div>
                <label>Product Discription</label><br>
                <textarea type="text" id="pdiscription"></textarea>  
            </div>
            <div>
                <label>Product Price</label><br>
                <input type="number" id="pprice">
            </div>
            <div>
                <label>Product Image</label><br>
                <input type="file" id="pfileImg">
            </div>
            <div>
                <input type="submit" id="psubmitBtn" value="POST Product!">
            </div>
        </form>
    </div>
</div>