<nav>
    <a href="/">Home</a>
    <a href="/user/signup">Create Account</a>
    <a href="/user/login">Login</a>
    <a href="/cart/index"><span style="color:white; padding: 7px; background-color:thistle; border-radius: 40%;">0{{session.cart.totalQty}}</span>Shopping Cart</a>
</nav>