<div>
    <h1>CHECKOUT</h1>
    <div>
        <p> Your Total Price: 0{{session.cart.totalPrice}}</p>
        <form>
            <div>
                <label> Full Name</label><br>
                <input type="text" id="fullname">
            </div>
            <div>
                <label> Credit Card Number</label><br>
                <input type="text" id="cardNo">
            </div>
            <div>
                <label> exp</label><br>
                <input type="text" id="exp">
            </div>
            <div>
                <label> month</label><br>
                <input type="text" id="month">
            </div>
            <div>
                <label> year</label><br>
                <input type="text" id="year">
            </div>
            <div>
                <label> Address</label><br>
                <input type="text" id="address">
            </div>
            <div>
                <label> CVC</label><br>
                <input type="text" id="cvc">
            </div>
            <div>
                <input type="submit" id="submit" value="Buy Now!">
            </div>
        </form>
    </div>
</div>